@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
@import "sass/variables";
@import "sass/mixin";

/* general */

* {
  box-sizing: border-box;
}

body {
  margin: 10px 0 0 0;
}

h1 {
  font-size: 3.5vw;
  color: $white-letter;
  font-weight: 300;
  font-family: "Lato";
}

/* strips */
.strips {
  height: $height-100;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  cursor: pointer;

  .strip {
    position: relative;
    width: 19.9vw;
    margin: 0.1vw;
    height: $height-100;
    display: flex;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .strip_content {
      @include center-strip-content;
      width: 100%;
      text-align: center;

      &:before {
        content: "";
        @include center-strip-content;
        z-index: 1;
        top: 0;
        left: 0;
        width: 20vw;
        background: $white-letter;
        opacity: 0.05;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        overflow: hidden;
        @include transform(center center);
        @include skew-transform(skew(30deg) scaleY(1) translate(0, 0));
      }

      &:hover:before {
        @include skew-transform(skew(0deg) scaleX(2) translate(0, 0));
        opacity: 0.2;
      }
    }
  }
}
/* strips 1-5: nth-child 1-5 */
@for $i from 1 through length($all-colors) {
  @for $i from 1 through length($all-durations) {
    @for $i from 1 through length($all-key-frames) {
      .strip:nth-child(#{$i}) {
        @include animation(nth($all-colors, $i), nth($all-durations, $i), nth($all-key-frames, $i));
      }
    }
  }
}
